#header {
  background-color: #000;
  margin: 0px;
  padding: 24px 0 24px 0;
  @include respond-to('small') {
    padding: 20px 0 20px 0;
  }
}

#logo {
  margin:0 30px 0 30px;
  display: block;
  width: 32px;
  height: 32px;
  @include respond-to('small') {
    margin: 0 auto;
    width: 22px;
    height: 22px;
  }
  img {
    width: 32px;
    height: 32px;
    @include respond-to('small') {
      width: 22px;
      height: 22px;
    }
  }
}

#button-nav {
  display: none;
  @include respond-to('small') {
    font-size: 21px;
    display: block;
    margin: 0 0 0 19px;
    padding: 0px;
    top: 19px;
    position: absolute;
  }
  &.close .icon-menu:before {
    content: "\e904";

  }
}

#navigation-container {
  position: absolute;
  top:24px;
  margin-left: 86px;
  @include respond-to('small') {
    margin: 38px 0 0 0;
    height: auto;
    position: absolute;
    z-index: 200;
    width: 100%;
    border-top: 2px solid $white;
    bottom: 0px;
    display: none;
  }
  &.show {
    display: block !important;
  }
}
#navigation {
  padding: 0px;
  margin: 0px;
  @include respond-to('small') {
    background-color: black;
    height: 100%;
  }
  li {
    float: left;
    margin-right: 42px;
    &.active {
      a {
        color:$white;
      }
    }
    a {
      font-size: 18px;
      font-family: $font-regular;
      text-decoration: none;
      @include respond-to('small') {
        font-size: 30px;
        font-family: $base-heading;
      }
    }
    @include respond-to('small') {
      float: none;
      margin: 0px;
      text-align: center;
      padding-top: 65px;
    }
  }
}
